rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

  function isAdmin() {
  	return get(/databases/$(database)/documents/Users/$(request.auth.uid)).data.role == "Admin";
  }

    match /Recipes/{document} {
      allow read: if true;

      allow write: if isAdmin();
    }

    match /Users/{userId} {
    	allow write: if isAdmin();
    }

    match /UserRecipes/{recipeId} {
      allow write: if isAdmin();
    }
  }
}
